::-webkit-scrollbar { display: none }

body {
    margin: 0;
    color: #DB4437;
    background: #141414;
}

xmp {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 12px;
    line-height: 16px;
    font-family:
        'Monaco', 'Menlo', 'Ubuntu Mono',
        'Consolas', 'source-code-pro', monospace;
}

#output {
    margin: 0;
    line-height: 14px;
    overflow-y: scroll;
    word-wrap: break-word;
    position: fixed; left: 2px; width: 579px;
}

#editor {
    position: fixed; top: 0; right: 0; bottom: 0; left: 581px;
}

.ace_cursor {
    border-left: 8px solid rgba(51, 255, 0, 0.54) !important;
}

.ace_hidden-cursors .ace_cursor {
    opacity: initial !important;
    border-left: 8px solid rgba(219, 68, 55, 0.73) !important;
}

.error { color: red }
